<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desctiption</th>
      <th>Lat</th>
      <th>Lng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.title %></td>
        <td><%= property.desctiption %></td>
        <td><%= property.lat %></td>
        <td><%= property.lng %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    <% @properties.each do |property| %>
    {
      "lat": <%= property.lat %>,
      "lng": <%= property.lng %>,

    
      "infowindow": '<%= link_to property.title, property %>'
    },
    <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
<%= link_to 'New Property', new_property_path %>


