<h1>Listings Near <%= current_user.institution.name %></h1>

    <% @proprties_filtered.each do |property| %>
      <div class="detbox">
        <div class="det dettitle"><%= link_to property.title, property %></div>
        <div class="det"><%= property.desctiption %></div>
        <br>
        <div class="det">Rent (Monthly) - PKR<%= property.price %></div>
<!--         <td><%= link_to 'Edit', edit_property_path(property) %></td> -->
<!--         <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %> --></div>
        <br>
    <% end %>

<br>
<div class="mapp" style='width: 64%;'>
  <div id="map" style='width: 100%; height: 800px;'></div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    <% @proprties_filtered.each do |property| %>
    {
      "lat": <%= property.latitude %>,
      "lng": <%= property.longitude %>,

    
      "infowindow": '<%= link_to property.title, property %>'
    },
    <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
<!-- 
<%= link_to 'New Property', new_property_path %> -->


