<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Desctiption:</strong>
  <%= @property.desctiption %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @property.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @property.lng %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
